site_name: Documentation
site_description: Documentation for k0smotron.
site_author: Mirantis, Inc.
site_url: https://docs.k0smotron.io
docs_dir: docs/
repo_name: GitHub
repo_url: https://github.com/k0sproject/k0smotron
copyright:
  Copyright &copy; 2021 k0sproject a Series of LF Projects, LLC.
  For website terms of use, trademark policy and other project policies please see lfprojects.org/policies/.
  - All rights reserved.
edit_uri: ""
nav:
  - Overview: README.md
  - Project status: status.md
  - Installation: install.md
  - Usage:
    - Overview: usage-overview.md
    - Standalone:
      - Create a cluster: cluster.md
      - Join a worker node: join-nodes.md
      - Configuration: configuration.md
      - Etcd configuration: etcd.md
      - HA control planes with Kine: ha.md
      - Autoscaling: hcp-autoscaling.md
    - Cluster API:
      - Overview: cluster-api.md
      - Control Plane: capi-controlplane.md
      - Control Plane Bootstrap: capi-controlplane-bootstrap.md
      - Worker Node Bootstrap: capi-bootstrap.md
      - Remote Machine Provider: capi-remote.md
      - Ingress support: ingress-support.md
      - Ignition support: ignition-support.md
      - ClusterClass: capi-clusterclass.md
      - Health Checks: capi-machine-health-checks.md
      - Generated Resources: generated-resources.md
      - Examples:
        - Software prerequisites: capi-examples.md
        - Adopting an existing k0s cluster into CAPI management: capi-adoption.md
        - AWS (HCP): capi-aws.md
        - AWS (VMs): capi-aws-vm.md
        - Hetzner Cloud (HCP): capi-hetzner.md
        - OpenStack (HCP): capi-openstack.md
        - Docker (HCP): capi-docker.md
        - KubeVirt (HCP): capi-kubevirt.md
        - vSphere: capi-vsphere.md
        - Remote Machine with Teleport: capi-remotemachine-teleport.md
        - Remote Machine with Okta ASA: capi-remotemachine-okta-asa.md
        - Using OCI registry to pull k0s: capi-use-oci-registry.md
        - Cilium with kube-proxy replacement (HCP): capi-examples/cilium-kube-proxy-replacement.md
      - Advanced:
        - Component customization: capi-advanced/components.md
        - Cloud init customization: capi-advanced/cloud-init.md
    - Monitoring: monitoring.md
  - Update:
     - Standalone: update/update-standalone.md
     - Cluster API (HCP): update/update-cluster-pod.md
     - Cluster API (VMs): update/update-capi-cluster.md
     - Update workers (HCP): update/hcp-autopilot.md
  - FAQ: faq.md
  - Troubleshooting: troubleshooting.md
  - Commercial Support: commercial-support.md
  - Contributing:
      - Overview: contributing/contribute-overview.md
      - Development environment: contributing/dev-environment.md
      - Workflow: contributing/contribute-workflow.md
      - Testing: contributing/contribute-testing.md
      - Release process: contributing/release-process.md
  - Known Limitations: known-limitations.md
  - Reference:
    - Custom resources:
      - bootstrap.cluster.x-k8s.io/v1beta1: resource-reference/bootstrap.cluster.x-k8s.io-v1beta1.md
      - controlplane.cluster.x-k8s.io/v1beta1: resource-reference/controlplane.cluster.x-k8s.io-v1beta1.md
      - infrastructure.cluster.x-k8s.io/v1beta1: resource-reference/infrastructure.cluster.x-k8s.io-v1beta1.md
      - k0smotron.io/v1beta1: resource-reference/k0smotron.io-v1beta1.md
    - Terminology: terminology.md



theme:
  name: "material"
  highlightjs: true
  language: "en"
  custom_dir: docs/custom_theme
  favicon: img/k0s_social.png
  logo: img/k0s_social.png
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
    - scheme: slate
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
  features:
    - toc.autohide
    - search.suggest
    - search.highlight
    - content.code.copy

extra_css:
  - stylesheets/extra.css
plugins:
  - search
  - ezglossary:
      section_config:
        - name: demo
          inline_refs: short
  - macros:
      j2_variable_start_string: "{{{"
      j2_variable_end_string: "}}}"
      j2_block_start_string: "[[%"
      j2_block_end_string: "%]]"
  - exclude:
      glob:
        - "*.etag"
        - Dockerfile.serve-dev
        - k0smotron
        - Makefile*
        - requirements_pip.txt
        - requirements.txt

markdown_extensions:
  - pymdownx.highlight: {}
  - pymdownx.superfences: {}
  - pymdownx.inlinehilite: {}
  - mdx_truly_sane_lists: # https://github.com/mkdocs/mkdocs/issues/545#issuecomment-522196661
      nested_indent: 2
      truly_sane: true
  - toc:
      permalink: "#"
      toc_depth: 3
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - admonition
  - def_list

extra:
  k0smotron_version: !!python/object/apply:os.getenv ["K0SMOTRON_VERSION"]
  generator: false
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/k0sproject/k0smotron
      name: k0smotron on GitHub
    - icon: fontawesome/solid/link
      link: https://k0smotron.io/
      name: k0smotron Website
  version:
    provider: mike
    default: stable
