site_name: Documentation
site_description: Documentation for k0smotron.
site_author: Mirantis, Inc.
site_url: https://docs.k0smotron.io
docs_dir: docs/
repo_name: GitHub
repo_url: https://github.com/k0sproject/k0smotron
copyright:
  Copyright &copy; 2024 <a href="https://mirantis.com/">Mirantis Inc.</a>
  - All rights reserved.
edit_uri: ""
nav:
  - Overview: README.md
  - Project status: status.md
  - Installation: install.md
  - Usage:
    - Overview: usage-overview.md
    - Standalone:
      - Create a cluster: cluster.md
      - Join a worker node: join-nodes.md
      - Configuration: configuration.md
    - Cluster API:
      - Overview: cluster-api.md
      - Control Plane: capi-controlplane.md
      - Control Plane Bootstrap: capi-controlplane-bootstrap.md
      - Worker Node Bootstrap: capi-bootstrap.md
      - Remote Machine Provider: capi-remote.md
      - ClusterClass: capi-clusterclass.md
      - Examples:
        - Software prerequisites: capi-examples.md
        - AWS (HCP): capi-aws.md
        - Hetzner Cloud: capi-hetzner.md
        - OpenStack: capi-openstack.md
        - Docker: capi-docker.md
        - vSphere: capi-vsphere.md
        - Remote Machine with Teleport: capi-remotemachine-teleport.md
        - Remote Machine with Okta ASA: capi-remotemachine-okta-asa.md
    - HA control planes: ha.md
    - Monitoring: monitoring.md
  - Update:
     - Standalone: update/update-standalone.md
     - Cluster API: update/update-cluster-pod.md
  - FAQ: faq.md
  - Troubleshooting: troubleshooting.md
  - Commercial Support: commercial-support.md
  - Contributing:
      - Overview: contributing/contribute-overview.md
      - Development environment: contributing/dev-environment.md
      - Workflow: contributing/contribute-workflow.md
      - Testing: contributing/contribute-testing.md
  - Known Limitations: known-limitations.md
  - Reference:
    - Custom resources: resource-reference.md
    - Terminology: terminology.md



theme:
  name: "material"
  highlightjs: true
  language: "en"
  custom_dir: docs/custom_theme
  favicon: img/k0s_social.png
  logo: img/k0s_social.png
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
    - scheme: slate
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
  features:
    - toc.autohide
    - search.suggest
    - search.highlight
    - content.code.copy

extra_css:
  - stylesheets/extra.css
plugins:
  - search
  - ezglossary:
      section_config:
        - name: demo
          inline_refs: short
  - macros:
      j2_variable_start_string: "{{{"
      j2_variable_end_string: "}}}"
  - exclude:
      glob:
        - "*.etag"
        - Dockerfile.serve-dev
        - k0smotron
        - Makefile*
        - requirements_pip.txt
        - requirements.txt

markdown_extensions:
  - pymdownx.highlight: {}
  - pymdownx.superfences: {}
  - pymdownx.inlinehilite: {}
  - mdx_truly_sane_lists: # https://github.com/mkdocs/mkdocs/issues/545#issuecomment-522196661
      nested_indent: 2
      truly_sane: true
  - toc:
      permalink: "#"
      toc_depth: 3
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - admonition
  - def_list

extra:
  k0smotron_version: !!python/object/apply:os.getenv ["K0SMOTRON_VERSION"]
  generator: false
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/k0sproject/k0smotron
      name: k0smotron on GitHub
    - icon: fontawesome/solid/link
      link: https://k0smotron.io/
      name: k0smotron Website
  version:
    provider: mike
    default: stable
