{% extends "base.html" %}

{% block analytics %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XY3LK5RVBZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'G-XY3LK5RVBZ');
</script>
{% endblock %}

{% block outdated %}
You are not currently viewing the documentation for the current stable release of k0smotron.
<a href="{{ '../' ~ base_url }}">
  <strong>Click here to go to the documentation of the current stable release.</strong>
</a>
{% endblock %}