resources:
- deployment.yaml
- service.yaml
- namespace.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: extension-webhook
  newName: quay.io/k0sproject/k0smotron
  newTag: latest
