name: Go lint
on:
  push:
    branches:
      - main
      - release-*
    paths-ignore:
      - 'docs/**'
      - 'examples/**'
      - '**.md'
      - '**.svg'
      - '.github/workflows/publish-docs.yml'
      - 'mkdocs.yml'
  pull_request:
    branches:
      - main
      - release-*
    paths-ignore:
      - 'docs/**'
      - 'examples/**'
      - '**.md'
      - '**.svg'
      - '.github/workflows/publish-docs.yml'
      - 'mkdocs.yml'

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22.6'

      - name: Go caches
        uses: actions/cache@v4
        with:
          key: ${{ runner.os }}-lint-go-caches-${{ hashFiles('go.sum') }}
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
            ~/.cache/golangci-lint

      - name: Check generated code to be consistent
        run: make clean && make generate manifests clusterapi-manifests docs-generate-reference release && git diff --exit-code

      - name: Run linter
        env:
          GOLANGCI_LINT_FLAGS: --out-format=github-actions
        run: |
          make lint
