name: Go lint

on:
  push:
    branches: &protected_branches
      - main
      - release-*
    paths-ignore: &common_ignores
      - 'docs/**'
      - 'examples/**'
      - '**.md'
      - '**.svg'
      - '.github/workflows/publish-docs.yml'
      - 'mkdocs.yml'
  pull_request:
    branches: *protected_branches
    paths-ignore: *common_ignores

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'

      - name: Go caches
        uses: actions/cache@v4
        with:
          key: ${{ runner.os }}-lint-go-caches-${{ hashFiles('go.sum') }}
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
            ~/.cache/golangci-lint

      - name: Check generated code to be consistent
        run: make generate-all && git diff --exit-code

      - name: Run linter
        env:
          GOLANGCI_LINT_FLAGS: --output.text.path=stdout
        run: |
          make lint
